table, th, tr, td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

table{
    width: 80%;
    margin: auto;
}

button{
    color: white;
    display: block;
    background-color: orange;
}

button.delete {
    background-color: red;
}

thead * {
    background-color: rgb(18, 89, 255);
    color: white;
}

@media screen and (max-width: 600px) {
    th, td{
        font-size: 0.7em;
    }
}